/* Background utama */
body {
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('laut.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Container tengah */
.container {
    text-align: center;
    padding: 50px;
}

/* Judul */
.judul {
    color: white;
    font-size: 36px;
    margin-bottom: 30px;
}

/* Card biodata */
.card {
    background-color: white;
    padding: 30px;
    margin: auto;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: left;
}

/* Label (Nama, NPM, dll) */
.label {
    font-weight: bold;
    color: #333;
}

/* Paragraf */
.card p {
    margin: 10px 0;
    font-size: 16px;
}

/* Efek hover */
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}